<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/site.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<style type="text/css">
			.mui-table-view {
				background-color: transparent;
			}
			
			.mui-table-view:before {
				background-color: transparent;
			}
			
			.mui-table-view:after {
				background-color: transparent;
			}
		</style>
	</head>

	<style type="text/css">

	</style>

	<body>
		<div class="mui-content">

			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li id="seckill" style="background-color: #ff6504;" class="mui-table-view-cell mui-media mui-col-xs-8  mui-col-sm-8">
					<a href="###">
						<span class="mui-icon iconfont icon-chuizi"></span>
						<div class="mui-media-body">求秒杀</div>
					</a>
				</li>
				<li style="background-color: #A82E39" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
					<a href="###">
						<p>
							<h3 style="color: white;">紧急</h3></p>
						<p>
							<h3 style="color: white;">救援</h3></p>
					</a>
				</li>
			</ul>

			<ul class="mui-table-view mui-table-view-chevron">
				<li>
					<div id="slider" class="mui-slider">

					</div>

				</li>
			</ul>

			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li style="background-color: #ff6504;" class="mui-table-view-cell mui-media mui-col-xs-4  mui-col-sm-4">
					<a href="#">
						<span class="mui-icon iconfont icon-baoyang1"></span>
						<div class="mui-media-body">保养</div>
					</a>
				</li>
				<li style="background-color: #35918A;" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
					<a href="#">
						<span class="mui-icon iconfont icon-weixiu"></span>
						<div class="mui-media-body">维修</div>
					</a>
				</li>
				<li style="background-color: #2073A3;" class="mui-table-view-cell mui-media mui-col-xs-4  mui-col-sm-4">
					<a href="#">
						<span class="mui-icon iconfont icon-xiche"></span>
						<div class="mui-media-body">洗车</div>
					</a>
				</li>
				<li style="background-color: #BA414B;" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
					<a href="#">
						<span class="mui-icon iconfont icon-unie60a"></span>
						<div class="mui-media-body">帮购</div>
					</a>
				</li>
				<li style="background-color: #2D4B64;" class="mui-table-view-cell mui-media mui-col-xs-4  mui-col-sm-4">
					<a href="#">
						<span class="mui-icon iconfont icon-yuyuebanshi"></span>
						<div class="mui-media-body">帮办</div>
					</a>
				</li>
				<li style="background-color: #28784B;" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
					<a href="#">
						<span class="mui-icon iconfont icon-savemoney"></span>
						<div class="mui-media-body">帮省</div>
					</a>
				</li>
			</ul>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/MenuEvent.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/CarMaid.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			// 自动轮播图片
			var slider = mui("#slider");
			console.log(slider[0]);
			// 求秒杀
			document.getElementById('seckill').addEventListener('tap', function() {
				console.log('123');
				// 判断 车型信息是否完善；
				
				
				
				var seckillPicker = new mui.PopPicker();
				seckillPicker.setData([{
					value: 'ywj',
					text: '小保'
				}, {
					value: 'aaa',
					text: '大保'
				}]);
				seckillPicker.show(function(items) {
					console.log(JSON.stringify(items[0]));
				});
				//				mui.openWindow({
				//					url: 'Seckill.html',
				//					id: 'Seckill.html',
				//					show: {
				//						autoShow: true,
				//						aniShow: 'slide-in-right',
				//						duration: 300
				//					}
				//				});
			});
			// 添加监听更新Banners 事件
			window.addEventListener('UpBanners', function(e) {
				console.log('UpBanners Even');
				var banners = e.detail.data;
				if (banners && banners.length > 0) {
					// 创建 sliderGroup div
					var sliderGroup = document.createElement('div');
					sliderGroup.className = 'mui-slider-group mui-slider-loop';
					var len = banners.length;
					console.log(len);
					//第一个节点是最后一张轮播
					var firstBanner = CarMaid.Banners.addBanne(banners[len - 1].index, banners[len - 1].imgUrl, banners[len - 1].name, "duplicate");
					sliderGroup.appendChild(firstBanner);
					for (var i = 0; i < len; i++) {
						var index = banners[i].index;
						var imgUrl = banners[i].imgUrl;
						var name = banners[i].name;
						var div = CarMaid.Banners.addBanne(index, imgUrl, name);
						console.log(div);
						sliderGroup.appendChild(div);
					}
					//最后一个节点是第一张轮播
					var lastBanner = CarMaid.Banners.addBanne(banners[0].index, banners[0].imgUrl, banners[0].name, "duplicate");
					sliderGroup.appendChild(lastBanner);
					console.log(sliderGroup.innerHTML);
					// 创建IndicatorDiv 就是那个小圆点。
					var IndicatorDIV = CarMaid.Banners.AddIndicator(len);
					slider[0].innerHTML = "";
					slider[0].appendChild(sliderGroup);
					slider[0].appendChild(IndicatorDIV);
					console.log(slider[0].innerHTML);
					// 自动播放 cao 刚才还正常
					setTimeout(function() {
						slider.slider({
							interval: 5000
						});
					}, 1000);
					//					slider.slider({
					//						interval: 5000
					//					});
				}
				// 更新完后关闭启动页
				setTimeout(function() {
					plus.navigator.closeSplashscreen();
				}, 2000);
				console.log(e.detail.data);
				return;
			});
		</script>
	</body>

</html>