<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">选择保养类型</h1>
		</header>
		<div class="mui-content">

			
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li id="seckill" style="background-color: #ff6504;" class="mui-table-view-cell mui-media mui-col-xs-8  mui-col-sm-8">
					<a href="###">
						<span class="mui-icon iconfont icon-xiaobaoyang"></span>
						<div class="mui-media-body">小保</div>
					</a>
				</li>
				<li style="background-color: #A82E39" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4">
					<a href="###">
						<span class="mui-icon iconfont icon-dabaoyang"></span>
						<div class="mui-media-body">大保</div>
					</a>
				</li>
			</ul>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</body>

</html>