<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />

		<style type="text/css">
			.mui-content>.mui-table-view:first-child {
				margin-top: 1px;
			}
			.mui-media-body p {
				margin-top: 5px;
			}
		</style>

	</head>

	<body>
		<div class="mui-content">
			<ul id="MessageList" class="mui-table-view mui-table-view-chevron">
				<li id="宝马车主" class="mui-table-view-cell mui-media">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							宝马车主
							<p class="mui-ellipsis">经过朋友介绍车事帮比4S便宜很多而且方便，家旁边就有好几家特约店，车都开了6年多了但开的比较少才45000公里，购买配件很简单选择自助保养都有推荐的，一气呵成在线支付成功，第二天就收到了，应该都是正品吧，大品牌信得过。</p>
						</div>
					</div>
				</li>
				<li id="奥迪车主" class="mui-table-view-cell mui-media">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							奥迪车主
							<p class="mui-ellipsis">经过朋友介绍车事帮比4S便宜很多而且方便，家旁边就有好几家特约店，车都开了6年多了但开的比较少才45000公里，购买配件很简单选择自助保养都有推荐的，一气呵成在线支付成功，第二天就收到了，应该都是正品吧，大品牌信得过。</p>
						</div>
					</div>
				</li>
				<li id="雪弗兰车主" class="mui-table-view-cell mui-media">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							雪弗兰车主
							<p class="mui-ellipsis">经过朋友介绍车事帮比4S便宜很多而且方便，家旁边就有好几家特约店，车都开了6年多了但开的比较少才45000公里，购买配件很简单选择自助保养都有推荐的，一气呵成在线支付成功，第二天就收到了，应该都是正品吧，大品牌信得过。</p>
						</div>
					</div>
				</li>
				<li id="捷豹车主" class="mui-table-view-cell mui-media">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							捷豹车主
							<p class="mui-ellipsis">经过朋友介绍车事帮比4S便宜很多而且方便，家旁边就有好几家特约店，车都开了6年多了但开的比较少才45000公里，购买配件很简单选择自助保养都有推荐的，一气呵成在线支付成功，第二天就收到了，应该都是正品吧，大品牌信得过。</p>
						</div>
					</div>
				</li>
				<li id="路虎车主" class="mui-table-view-cell mui-media">
					<div class="mui-slider-right mui-disabled">
						<a class="mui-btn mui-btn-red">删除</a>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							路虎车主
							<p class="mui-ellipsis">经过朋友介绍车事帮比4S便宜很多而且方便，家旁边就有好几家特约店，车都开了6年多了但开的比较少才45000公里，购买配件很简单选择自助保养都有推荐的，一气呵成在线支付成功，第二天就收到了，应该都是正品吧，大品牌信得过。</p>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/MenuEvent.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			 // 向作滑动 的删除方法
			var btnArray = ['确认', '取消'];
			mui('#MessageList').on('tap', '.mui-btn', function(event) {
				var elem = this;
				var li = elem.parentNode.parentNode;
				mui.confirm('确认删除该条记录？', '删除记录', btnArray, function(e) {
					if (e.index == 0) {
						li.parentNode.removeChild(li);
					} else {
						setTimeout(function() {
							mui.swipeoutClose(li);
						}, 0);
					}
				});
			});
			 // 查看详情
			mui('#MessageList').on('tap', 'li', function(e) {
				var id = this.getAttribute('id');
				var title = id;
				template = plus.webview.getWebviewById("default-main");
				//获得共用子webview
				subWebview = template.children()[0];
				subWebview.setStyle({
					top: '46px'
				});
				//通知模板修改标题，并显示隐藏右上角图标；
				mui.fire(template, 'updateHeader', {
					title: title,
					showMenu: false
				});
				var href = 'Details.html';
				if (subWebview.getURL() != href) {
					subWebview.loadURL(href);
				} else {
					subWebview.show();
				}
				// 在公用子页面加载完成后 才执行自定义事件
				subWebview.addEventListener('loaded', function(e) {
					mui.fire(subWebview, 'loadDetail', {
						id: id
					});
				});
				// 测试迁入 
				template.show('slide-in-right', 150);
			});
		</script>
	</body>

</html>