<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.mui-table-view-cell > .mui-slider-handle {
				margin-right: 40px;
			}
			.mui-table-view-cell.mui-checkbox input[type=checkbox], .mui-table-view-cell.mui-radio input[type=radio] {
				right: -25px;
			}
			
			.mui-input-group .mui-input-row{
				height: auto;
			}
			.mui-media-body p{
				margin-top: 5px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的车型</h1>
			<a id="addVehileModel" class="mui-icon mui-icon-plus mui-pull-right">
				<span style="font-size: 18px;">
					新增
				</span>
			</a>
		</header>
		<div id="Content" class="mui-content">
			<form id="VehileModelCollection" class="mui-table-view">
				<div id="vmid" class="mui-table-view-cell mui-radio">
					<div class="mui-slider-right mui-disabled">
						<a data-id = "vmid" class="mui-btn mui-btn-yellow mui-icon mui-icon-compose"></a>
						<a data-id = 'vmid' class="mui-btn mui-btn-red mui-icon mui-icon-trash"></a>
					</div>
					<div class="mui-slider-handle">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							XXXX
							<p class="mui-ellipsis">新车上路时间：2014-08-08</p>
						</div>
						<input name="radio1" type="radio">
					</div>
				</div>
			</form>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			mui.plusReady(function() {
				document.getElementById('addVehileModel').addEventListener('tap', function() {
					mui.openWindow({
						url: 'VehicleBrandList.html',
						id: 'VehicleBrandList.html',
						show: {
							autoShow: false,
							aniShow: 'slide-in-right',
							duration: 300,
						}
					});
				});
			});
			mui('.mui-table-view').on('tap', '.mui-media-body', function() {
				console.log('点击内容');
			});
			mui('.mui-radio').on('tap', 'input', function() {
				console.log('点击了radio');
				console.log(this.checked);
				this.checked = !this.checked;
				console.log(this.checked);
			})
		</script>
	</body>

</html>