<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.mui-table-view-cell > .mui-slider-handle {
				/*margin-right: 40px;*/
			}
			
			.mui-table-view-cell.mui-checkbox input[type=checkbox],
			.mui-table-view-cell.mui-radio input[type=radio] {
				right: -25px;
			}
			
			.mui-input-group .mui-input-row {
				height: auto;
			}
			
			.mui-media-body p {
				margin-top: 5px;
			}
			
			.mui-content>.mui-table-view:first-child {
				margin-top: 0px;
			}
			
			.mui-checkbox input[type=checkbox],
			.mui-radio input[type=radio] {
				right: 0px;
			}
			
			.mui-media-body {
				margin-right: 25px;
				font-size: 16px;
			}
			
			.error {
				text-align: center;
				margin: 0 auto;
				padding: 30px;
				color: #8f8f94;
				height: 100%;
				width: 100%;
				position: fixed;
				top: 50px;
				display: none;
			}
			
			.loading {
				text-align: center;
				margin: 0 auto;
				padding: 30px;
				color: #8f8f94;
				height: 100%;
				width: 100%;
				position: fixed;
				top: 50px;
				display: block;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的车型</h1>
			<a id="addVehileModel" class="mui-icon mui-icon-plus mui-pull-right">
				<span id="VehicleAdd" style="font-size: 18px;">
					新增
				</span>
			</a>
		</header>
		<div id="Content" class="mui-content">
			<form id="VehileModelCollection" class="mui-table-view">
				<!--<div id="vmid" class="mui-table-view-cell ">
					<div class="mui-slider-right mui-disabled">
						<a data-id = "vmid" class="mui-btn mui-btn-yellow mui-icon mui-icon-compose"></a>
						<a data-id = 'vmid' class="mui-btn mui-btn-red mui-icon mui-icon-trash"></a>
					</div>
					<div class="mui-slider-handle mui-radio">
						<img class="mui-media-object mui-pull-left" src="../../images/60x60.gif" />
						<div class="mui-media-body">
							XXXX新车上路时间新车上路时间新车上路时间
							<p class="mui-ellipsis">新车上路时间：2014-08-08</p>
						</div>
						<input name="radio1" type="radio">
					</div>
				</div>-->
			</form>

			<div id="error" class="error" href="###">
				<span class="mui-icon iconfont icon-sousuojieguomeiyou" style=""></span> 点击重新加载！
			</div>

			<div id="loading" class="loading" href="###">
				<span class="mui-spinner" style=""></span>
			</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/CarMaid.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			var error = document.getElementById('error');
			var loading = document.getElementById('loading');

			function OnSuccessCallback() {
				loading.style.display = 'none';
				getVehicleModelForStorage();
			}

			function OnErrorCallback(xhr, type, errorThrown) {
				loading.style.display = 'none';
				console.log(type);
				if (type == 'timeout')
					mui.toast('服务器罢工啦');

				//error.style.display = 'bli'
				getVehicleModelForStorage();
			}
			// 获取 Storage 中的车型。
			function getVehicleModelForStorage() {
				var vm = plus.storage.getItem('VehicleModel');
				if(!vm) return;
				var obj = JSON.parse(vm);
				console.log(obj.index);
				// 判断是否该车已经显示
				var div = document.getElementById(obj.vmIndex);
				if(div) return;
				
				AddSingleVM(obj,false);
				console.log('111');
			}
			mui.plusReady(function() {
				// 判断是否已经登陆。
				if (!CarMaid.UserInfo.Has_login()) {
					document.getElementById('VehicleAdd').innerText = '更改';
				}
				CarMaid.Vehicle.InitVehicleModel(OnSuccessCallback, OnErrorCallback, 3);
			});
			document.getElementById('addVehileModel').addEventListener('tap', function() {
				mui.openWindow({
					url: 'VehicleBrandList.html',
					id: 'VehicleBrandList.html',
					show: {
						autoShow: false,
						aniShow: 'slide-in-right',
						duration: 300,
					}
				});
			});
			mui('#VehileModelCollection').on('tap', '.mui-slider-handle', function() {
				var input = this.querySelector('.mui-slider-handle input');
				input.checked = true;
				console.log('点击内容');
			});
			// 编辑车型
			mui('#VehileModelCollection').on('tap', '.mui-icon-compose', function() {
				console.log('edit');
				var vmid = this.getAttribute('data-vmid');
				var id = this.getAttribute('data-id');
				console.log(id);
				mui.openWindow({
					url: '_VehicleModelDetails.html',
					id: '_VehicleModelDetails.html',
					show: {
						autoShow: false,
						aniShow: 'slide-in-right',
						duration: 300
					},
					extras: {
						vmid: vmid,
						index : id
					}
				});
			});
			// 删除车型
			mui('#VehileModelCollection').on('tap', '.mui-icon-trash', function() {
				console.log('del');
				console.log(this.getAttribute('data-id'));
				plus.nativeUI.showWaiting();
				
				if(this.getAttribute('data-id') != 'null'){
					CarMaid.Vehicle.RemoveVehicleModel(this.getAttribute('data-id')); // 移除该车型。					
				}else{
					plus.storage.removeItem('VehicleModel');
					var bodyP = document.getElementById('null');
					bodyP.parentNode.removeChild(bodyP);
					plus.nativeUI.closeWaiting();
				}
				

			});
			// 登陆用户 添加车型后的事件
			document.addEventListener('AddVehileModel', function(e) {
				loading.style.display = 'block';
				document.getElementById('VehileModelCollection').innerHTML = "";
				CarMaid.Vehicle.InitVehicleModel(OnSuccessCallback, OnErrorCallback, 3);
			}, false);
			// 游客 添加车型后的事件
			document.addEventListener('AddVehileModelForTourist', function(e) {
				loading.style.display = 'block';
				var data = e.detail.data;
				console.log(JSON.stringify(data));
				AddSingleVM(data,true);
				loading.style.display = 'none';
			}, false);
			// 编辑车型信息
			document.addEventListener('UpVehileModel',function(e){
				var data = e.detail.data;
				console.log('UpVehileModel:'+JSON.stringify(data));
				document.getElementById('bodyP_'+data.vmIndex).innerText = data.mileageAndBuyVehicleDate;
				
			});
			
			
			function AddSingleVM(data,isClear){
				var parentDIV = document.getElementById('VehileModelCollection');
				if(isClear)
					parentDIV.innerHTML = '';
				var div = document.createElement('div');
				div.className = 'mui-table-view-cell ';
				div.id = data.index;
				// 删除。 编辑
				var sliderDIV = document.createElement('div');
				sliderDIV.className = 'mui-slider-right mui-disabled';
				// 编辑
				var compose = document.createElement('a');
				compose.className = 'mui-btn mui-btn-yellow mui-icon mui-icon-compose';
				compose.setAttribute('data-id', data.index);
				compose.setAttribute('data-vmid',data.vmIndex);
				// 删除
				var trash = document.createElement('a');
				trash.className = 'mui-btn mui-btn-red mui-icon mui-icon-trash';
				trash.setAttribute('data-id', data.index);
				sliderDIV.appendChild(compose);
				sliderDIV.appendChild(trash);
				var sliderHandleDIV = document.createElement('div');
				sliderHandleDIV.className = 'mui-slider-handle mui-radio';
				var img = document.createElement('img');
				img.style.width = 42;
				img.style.height = 42;
				img.className = 'mui-media-object mui-pull-left';
				img.src = data.imageUrl;
				console.log(data.imageUrl);
				var bodyDIV = document.createElement('div');
				bodyDIV.className = 'mui-media-body';
				bodyDIV.innerText = data.vehicleName;
				var bodyP = document.createElement('p');
				bodyP.id = 'bodyP_' + data.vmIndex;
				bodyP.className = 'mui-ellipsis';
				if(isClear)
					bodyP.innerText = '车辆信息尚未完善';
				else{
					bodyP.innerText = data.mileageAndBuyVehicleDate ? data.mileageAndBuyVehicleDate:"车辆信息尚未完善";				
				}

				bodyDIV.appendChild(bodyP);
				var input = document.createElement('input');
				input.name = 'radio1';
				input.type = 'radio';
				input.checked = true;
				sliderHandleDIV.appendChild(img);
				sliderHandleDIV.appendChild(bodyDIV);
				sliderHandleDIV.appendChild(input);
				div.appendChild(sliderDIV);
				div.appendChild(sliderHandleDIV);
				parentDIV.appendChild(div);
			}
			
		</script>
	</body>

</html>