<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<style>
			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
			}
			
			.mui-col-xs-3,
			.mui-control-content {
				overflow-y: auto;
				height: 100%;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
			}
			
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #fff;
			}
			
			.mui-input-row {
				padding: 3px;
				border-bottom: 1px solid #ACACB4;
				text-indent: 10px;
				font-size: 12px;
			}
			
			.error {
				text-align: center;
				margin: 0 auto;
				padding: 30px;
				color: #8f8f94;
				height: 100%;
				width: 100%;
				position: fixed;
				top: 50px;
				display: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">车型<span style="font-size: 14px; margin-left: 5px;"><span id="seriesName"></span></span></h1>
		</header>
		<div class="mui-content mui-row mui-fullscreen">
			<div class="mui-col-xs-3">
				<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
				</div>
			</div>
			<div id="segmentedControlContents" class="mui-col-xs-9" style="border-left: 1px solid #c8c7cc;">
			</div>

			<div id="error" class="error" href="###">
				<span class="mui-icon iconfont icon-sousuojieguomeiyou" style=""></span> 点击重新加载！
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/CarMaid.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
			var VSID = '';
			var error = document.getElementById('error');

			function OnSuccessCallback() {
				var segmentedControls = document.getElementById('segmentedControls');
				segmentedControls.style.display = 'block';
				var segmentedControlContents = document.getElementById('segmentedControlContents');
				segmentedControlContents.style.display = 'block';
				var slfe = plus.webview.getWebviewById('VehicleModel.html');
				// 关闭等待框。
				plus.nativeUI.closeWaiting();
				// 显示页面
				slfe.show("slide-in-right", 300);
			}

			function OnErrorCallback() {
				console.log('error');
				// 隐藏 列表div
				var segmentedControls = document.getElementById('segmentedControls');
				segmentedControls.style.display = 'none';
				var segmentedControlContents = document.getElementById('segmentedControlContents');
				segmentedControlContents.style.display = 'none';
				// 显示 错误提示div
				error.style.display = "block";
				var slfe = plus.webview.getWebviewById('VehicleModel.html');
				// 关闭等待框。
				plus.nativeUI.closeWaiting();
				// 显示页面
				slfe.show();
			}
			error.addEventListener('tap', function() {
				//var error = document.getElementById('error');
				error.style.display = "none";
				CarMaid.Vehicle.GetVehicleModel(VSID, OnSuccessCallback, OnErrorCallback, 3);
			});
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var VSID = self.VSID;
				CarMaid.Vehicle.GetVehicleModel(VSID, OnSuccessCallback, OnErrorCallback, 3);
			});
			// 添加 tap 事件
			mui('#segmentedControlContents').on('tap', '.mui-table-view-cell', function() {
				if (CarMaid.UserInfo.Has_login()) { // 已登陆
					// 显示系统等待框
					plus.nativeUI.showWaiting();
					// 请求 api 添加车型
					CarMaid.Vehicle.AddVehicleModel(this.id, function(data) {
						var sub = plus.webview.getWebviewById('default-sub');
						// 触发事件
						mui.fire(sub, 'AddVehileModel', {});
						// 保存到本地数据存储区
						console.log(JSON.stringify(data));
						plus.storage.setItem('VehicleModel', JSON.stringify(data));
						console.log('VehicleModel:' + plus.storage.getItem('VehicleModel'));
						// 关闭系统等待框
						plus.nativeUI.closeWaiting();
						// 关闭窗口。
						var vb = plus.webview.getWebviewById('VehicleBrandList.html');
						var vm = plus.webview.getWebviewById('VehicleManufacturer.html');
						var self = plus.webview.currentWebview();
						vb.close();
						vm.close();
						self.close();
					}, function() {
						mui.toast('好像服务器罢工了~~');
						plus.nativeUI.closeWaiting();
					}, 3);
				} else { // 未登录
					// 保存到本地数据存储区
					var url = 'http://api.cheshibang.com/api/vehicle/GetVehicle?VMID=' + this.id;
					mui.ajax(url, {
						dataType: 'json',
						type: 'get',
						timeout: 5000,
						success: function(data) {
							
							plus.storage.setItem('VehicleModel', JSON.stringify(data));

							// 触发添加车型事件
							var sub = plus.webview.getWebviewById('default-sub');
							mui.fire(sub,'AddVehileModelForTourist',{
								data:data
							});
							// 关闭窗口。
							var vb = plus.webview.getWebviewById('VehicleBrandList.html');
							var vm = plus.webview.getWebviewById('VehicleManufacturer.html');
							var self = plus.webview.currentWebview();
							vb.close();
							vm.close();
							self.close();
						},
						error: function() {
							mui.toast('好像服务器罢工了~~');
							plus.nativeUI.closeWaiting();
						}
					});
				}
				console.log(this.id);
			});
		</script>
	</body>

</html>