<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css"/>
		<link href="../../css/mui.indexedlist.css" rel="stylesheet" />
		<style type="text/css">
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			.mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			.mui-indexed-list{
				background-color: transparent;
				border-bottom: none;
			}
			.error{
				text-align: center;
				margin: 0 auto;
				padding: 30px;
				color: #8f8f94; 
				height: 100%;
				width: 100%;
				position: fixed;
				top: 50px;
				display: none;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">汽车品牌</h1>
		</header>
		<div class="mui-content">
			<div id="list" class="mui-indexed-list">

			</div>
			<div id="error" class="error" href="###">
				<span class="mui-icon iconfont icon-sousuojieguomeiyou" style=""></span>
				点击重新加载！
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.indexedlist.js" type="text/javascript" charset="utf-8"></script>
		<script src='../../js/CarMaid.js' type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();

			function OnSuccessCallback (){
				
				var header = document.querySelector('header.mui-bar');
				var list = document.getElementById('list');
				//calc hieght
				list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
				//create
				window.indexedList = new mui.IndexedList(list);
				
				// 添加 tap 事件
				mui('#VehicleBrandList').on('tap', '.mui-table-view-cell', function() {
					console.log('点击了车牌');
					var id = this.id;
					console.log(id);
					mui.openWindow({
						url: 'VehicleManufacturer.html',
						id: 'VehicleManufacturer.html',
						show: {
							autoShow:false,
							aniShow: 'slide-in-right',
							duration: 300
						}
					});
					
					var vsPage = plus.webview.getWebviewById('VehicleManufacturer.html');
					while(!vsPage){
						vsPage = plus.webview.getWebviewById('VehicleManufacturer.html');
					}
					mui.fire(vsPage,'GetVehicleSeries',{
						VBID : id
					});
				});

				var slfe = plus.webview.getWebviewById('VehicleBrandList.html');
				// 关闭等待框。
				plus.nativeUI.closeWaiting();
				// 显示页面
				slfe.show("slide-in-right", 300);
				console.log('end');
			}

			var error = document.getElementById('error');
			function OnErrorCallback(){
				
				console.log('加载品牌失败');
				// 显示 错误提示div
				error.style.display="block";

				var slfe = plus.webview.getWebviewById('VehicleBrandList.html');
				// 关闭等待框。
				plus.nativeUI.closeWaiting();
				// 显示页面
				slfe.show();
			};

			error.addEventListener('tap',function(){
				//var error = document.getElementById('error');
				error.style.display="none"; 
				CarMaid.Vehicle.GetVehicleBrands(OnSuccessCallback,OnErrorCallback,3);
			});
			mui.plusReady(function(){
				// 获取汽车品牌
				CarMaid.Vehicle.GetVehicleBrands(OnSuccessCallback,OnErrorCallback,3);

			})
		</script>
	</body>

</html>