<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
			}
			.mui-col-xs-3,
			.mui-control-content {
				overflow-y: auto;
				height: 100%;
			}
			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
			}
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #fff;
			}
			.mui-input-row {
				padding: 3px;
				border-bottom: 1px solid #ACACB4;
				text-indent: 10px;
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">车型<span style="font-size: 14px; margin-left: 5px;">（<span>华晨宝马-宝马5系</span>）</span></h1>
		</header>
		<div class="mui-content mui-row mui-fullscreen">
			<div class="mui-col-xs-3">
				<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
					<a class="mui-control-item mui-active" href="#content1">2015 年</a>
					<a class="mui-control-item" href="#content2">2014 年</a>
					<a class="mui-control-item" href="#content3">2013 年</a>
					<a class="mui-control-item" href="#content4">2012 年</a>
					<a class="mui-control-item" href="#content5">2011 年</a>
					<a class="mui-control-item" href="#content6">2010 年</a>
					<a class="mui-control-item" href="#content7">2009 年</a>
				</div>
			</div>
			<div id="segmentedControlContents" class="mui-col-xs-9" style="border-left: 1px solid #c8c7cc;">
				<div id="content1" class="mui-control-content mui-active">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i中国限量版( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive28i( 2.0T245马力L4 )</li>
					</ul>
				</div>
				<div id="content2" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i尊享型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive50iM运动型( 4.0T408马力V8 )</li>
						<li class="mui-table-view-cell">xDrive30d( 3.0T258马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i豪华型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i领先型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i典雅型( 3.0T306马力L6 )</li>
					</ul>
				</div>
				<div id="content3" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i尊享型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive50iM运动型( 4.0T408马力V8 )</li>
						<li class="mui-table-view-cell">xDrive30d( 3.0T258马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i豪华型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i领先型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i典雅型( 3.0T306马力L6 )</li>
					</ul>
				</div>
				<div id="content4" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i尊享型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive50iM运动型( 4.0T408马力V8 )</li>
						<li class="mui-table-view-cell">xDrive30d( 3.0T258马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i豪华型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i领先型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i典雅型( 3.0T306马力L6 )</li>
					</ul>
				</div>
				<div id="content5" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i尊享型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive50iM运动型( 4.0T408马力V8 )</li>
						<li class="mui-table-view-cell">xDrive30d( 3.0T258马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i豪华型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i领先型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i典雅型( 3.0T306马力L6 )</li>
					</ul>
				</div>
				<div id="content6" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i尊享型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive50iM运动型( 4.0T408马力V8 )</li>
						<li class="mui-table-view-cell">xDrive30d( 3.0T258马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i豪华型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i领先型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i典雅型( 3.0T306马力L6 )</li>
					</ul>
				</div>
				<div id="content7" class="mui-control-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">xDrive35i尊享型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive50iM运动型( 4.0T408马力V8 )</li>
						<li class="mui-table-view-cell">xDrive30d( 3.0T258马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i豪华型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i领先型( 3.0T306马力L6 )</li>
						<li class="mui-table-view-cell">xDrive35i典雅型( 3.0T306马力L6 )</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</body>

</html>